@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Herculanum';
  src: url('./fonts/Herculanum.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FZGLJW';
  src: url('./fonts/FZGLJW.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-slate-50 text-slate-900;
}